.store_comments{
    position: relative;
    .store_comments_title{
        font-size: 24px;
        text-indent: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }
    .store_comments_content{
        padding: 15px;
    }
    .store_comments_add{
        position: absolute;
        right: 1%;
        top:0;
        z-index: 999;
    }
}