.MyTemplateDetails{
  .title{
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }

}
.empty{
  width: 100%;
  line-height: 400px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.web{
  .ant-modal-content {
    width: 1000px!important;
    height: 540px!important;
    margin-left: -500px!important;
    position: absolute;
    left: 50%;
  }
  .ant-modal-body {
    width: 1000px!important;
    height: 430px!important;
  }
  .ant-upload-list-item, .ant-upload-list-item-error{
    display: none!important;
  }
}