
.templatesModal{
    .ant-modal-content {
        width: 1200px!important;
        height: 500px!important;
        margin-left: -500px!important;
        position: absolute;
        left: 50%;
        overflow-y: auto;
    }
    .ant-modal-body {
        width: 1200px!important;
        height: 390px!important;
        word-wrap:break-word;
        word-break:break-all;
        .col, .col_name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            width: 140px;
        }
        .col_name{
            width: 196px;
        }
    }
}