.GatesStatusWrap{
    margin-top: -10px;
    font-weight: 500;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    .status{
        text-align: center;
        display: flex;
    }
    .status_tag{
        margin-right: 5px;
        width: 0px;
        height:25px;
        display: inline-block;
        position: relative;
        .ant-tag{
            position: absolute;
            height: 25px;
            line-height: 25px;
            top: 5px;
            left: 0px;
        }

    }
    .gateDesc{
        width: 70%;
        display: flex;
        align-items: center;
        >div{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .install{
        position: absolute;
        right: 0px;
        .share_devece{
            position: fixed;
            right:30px;
            top:135px;
            z-index: 999;
            background: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            width: 520px;
            min-height:400px;
            max-height: 80%;
            max-width: 100%;
            overflow-y: auto;
            .share_devece_close{
                position: absolute;
                right:10px;
                top:10px;
                z-index: 999;
            }
            .shares_list_wrap{
                // height: '350px';
                overflow-y: 'auto';
                position: 'absolute';
                top: '0px';
                left: '0px';
            }
            .shares_list{
                min-height: 380px;
                height: 100%;
            }
        }
    }
    >div{
        float: left;
    }

    .online{
        color:#3c763d;
        b{
            display: inline-block;
            width: 18px;
            height: 18px;
            background: #3c763d;
            border-radius: 50%;
            position: relative;
        }
    }
    .offline{
        color:#f39c12;
        b{
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #f39c12 ;
            border-radius: 50%;
            position: relative;
        }
    }
    .notline{
        color:#eee;
        b{
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #eee ;
            border-radius: 50%;
            position: relative;
        }
    }
    .positon{
            width: 14px;
            height: 14px;
            border:2px solid #ccc;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        span{
            position: absolute;
            display: inline-block;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 6px;
            height: 6px;
            background: #ccc;
            border-radius: 50%;
        }
    }
}