.vserial_log{
    width: 100%;
    .tableHeaders{
        display: flex;
        width: 100%;
        justify-content: space-around;
        >div{
            border-bottom: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            padding: 10px;
        }
        >div:nth-child(1){
            width: 20%;
            min-width: 180px;
        }
        >div:nth-child(2){
            width: 10%;
            min-width: 70px;
        }
        >div:nth-child(3){
            width: 10%;
            min-width: 75px;
        }
        >div:nth-child(4){
            width: 60%;
            min-width: 100px;
        }
        >div:nth-child(5){
            flex:1;
            word-wrap:break-word;
            word-break:break-all;
        }
    }
}