.platformMessage{
  .searchBox{
    margin: -10px 0 10px 0;
    display: flex;
    position: relative;
  }
  .overflow{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .hidden{
    display: none;
  }
  .posed{
    color: green;
  }
  .disposed{
    color: red;
  }
  .cursor{
    cursor: pointer;
  }
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  user-select: none;
  .SonTable{
    ul>li{
      line-height: 30px;
      >span{
        display: inline-block;
        width: 170px;
        text-align: right;
        margin-right: 20px;
      }
    }
  }
}