.platformMessage{
  .searchBox{
    margin: -10px 0 10px 0;
    display: flex;
    position: relative;
  }
  .hidden{
    display: none;
  }
  .posed{
    color: green;
  }
  .disposed{
    color: red;
  }
  .cursor{
    cursor: pointer;
  }
  //.ant-table-row-expand-icon-cell, .ant-table-expand-icon-th{
  //  display: none!important;
  //}
  .SonTable{
    ul>li{
      line-height: 30px;
      >span{
        display: inline-block;
        width: 170px;
        text-align: right;
        margin-right: 20px;
      }
    }
  }
}