.VPN{
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-left: 20px;
    .vnet_title{
        position: absolute;
        left:15px;
        top:-10px;
        display: inline-block;
        background: #fff;
        padding: 0 5px;
    }
    h1{
        text-align: center;
    }
    .vnetVserState{
        width: 100%;
        // border-top: 2px solid #ccc;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .vserialPort{
        margin-top: 10px;
        padding-top: 20px;
        border-top: 2px solid #ccc;
        border-radius: 3px;
    }
    .flex{
        display: flex;
        width: 300px;
        line-height: 30px;
        padding: 5px 0;
        margin-left: 100px;
        position: relative;
        >p{
            width: 100px;
        }
        .versionMsg{
            position: absolute;
            width: 400px;
            left: 170px;
            top: 5px;
        }
    }
    .VPNLeft{
        width:49%;
        position: relative;
        padding: 20px;
        padding-top: 20px;
        padding-left: 0px;
        padding-left: 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        .VPNlist{
            display: flex;
            padding:10px 0;
            >p{
                display: block;
                width:30%;
                min-width: 150px;
                text-align: right;
                line-height: 2.3;
                padding-right: 10px;
            }
            >input{
                flex:1;
            }
            >div{
                flex:1;
            }
        }
        .btn{
            margin-left: 100px;
        }
        .successMessage{
            width:auto;
            background: #00c0ef;
            color:#fff;
            height: auto;
            padding: 15px;
            margin-top: 10px;
            margin-left: 20px;
            line-height: 2.5;
            border-radius: 6px;
        }
    }
    .VPNRight{
        width:49%;
        margin-left: 2%;
        position: relative;
        padding-top: 20px;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        .VPNlist{
            display: flex;
            padding:10px 0;
            position: relative;
            .statusDetail{
                position: absolute;
                right:50px;
                top:10px;
                line-height: 32px;
                text-indent: 30px;
            }
            .isShow{
                width: 295px;
                border-radius: 5px;
                position: absolute;
                background:#f1f1f1;
                right:100px;
                top:10px;
                z-index: 999;
                overflow: hidden;
            }
            >p{
                display: block;
                width:30%;
                min-width: 170px;
                text-align: right;
                line-height: 2.3;
                padding-right: 10px;
            }
            >span{
                line-height: 2.3;
            }
            >input{
                flex:1;
            }
        }
    }
}
.navbar-link{
    color:blue;
}