.share-device{
  .manage{
    color:#666;
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
  }
 .add-user{
   float: right;
 }
  .company-name{
    font-weight: 600;
  }
  .group {
    border: 1px solid #ccc;
    width: 260px;
    padding: 10px;
  }
  .ant-list-item-content-single {
    width: 100%;
  }
  .editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
  }
}