.deviceMessage{
  .searchBox{
    margin: -10px 0 10px 0;
    display: flex;
    position: relative;
  }
  .hidden{
    display: none;
  }
  .posed{
    color: green;
  }
  .disposed{
    color: red;
  }
  .cursor{
    cursor: pointer;
  }
  .SonTables{
    ul>li{
      line-height: 30px;
      >span{
        display: inline-block;
        width: 170px;
        text-align: right;
        margin-right: 20px;
      }
    }
  }
  .none{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
  }
}