.selectWrap{
    display: flex;
    flex-wrap: wrap;
    .selectChild{
        display: flex;
        width: 33%;
        padding:5px 20px;
        >p{
            min-width: 50px;
            line-height:2;
            text-align: right;
        }
        >div{
            margin-left: 20px;
            flex: 1;
        }
    }
}
.vserialWrapper{
    max-width: 1024px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 30px;
    .help_button{
        position: absolute;
        right:30px;
        top:30px;
    }
    .vserialPort, .wrapper{
        position: relative;
        margin-top: 30px;
        padding-top: 20px;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        .vserial_title{
            position: absolute;
            left:15px;
            top:-10px;
            display: inline-block;
            background: #fff;
            padding: 0 5px;
        }
    }
    .flex{
        display: flex;
        width: 300px;
        line-height: 30px;
        padding: 5px 0;
        margin-left: 100px;
        position: relative;
        >p{
            width: 100px;
        }
        .versionMsg{
            position: absolute;
            width: 400px;
            left: 170px;
            top: 5px;
        }
    }
    .vserialBtn{
        padding:20px;
        button{
            width: 100px;
            height:40px;
            font-size: 18px;
            font-weight: 800;
        }
    }
}