.selectWrap{
    display: flex;
    flex-wrap: wrap;
    .selectChild{
        display: flex;
        width: 33%;
        padding:5px 20px;
        >p{
            min-width: 50px;
            line-height:2;
            text-align: right;
        }
        >div{
            margin-left: 20px;
            flex: 1;
        }
    }
}
.vserialWrapper{
    margin-top: 10px;
    border-top: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    .vserialPort{
        margin-top: 10px;
        padding-top: 20px;
        border-top: 2px solid #ccc;
        border-radius: 3px;
    }
    .flex{
        display: flex;
        width: 300px;
        line-height: 30px;
        padding: 5px 0;
        margin-left: 100px;
        position: relative;
        >p{
            width: 100px;
        }
        .versionMsg{
            position: absolute;
            width: 400px;
            left: 170px;
            top: 5px;
        }
    }
    .vserialBtn{
        position: absolute;
        right:50px;
        top:210px;
    }
}