.AppStore{
    max-width: 1380px;
    margin: 0 auto;
    position: relative;
    // background: #ccc;
    .all_app_content{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .all_app_filter{
            position: absolute;
            right: 190px;
            top: -30px;
        }
    }
    .app_title_and_developer{
        text-align: center;
        p{
            font-weight: 600;
        }
        span{
            font-size: 12px;
            color: #ccc;
        }
    }
    .app_developer_button{
        position: absolute;
        right: 40px;
        top: 20px;
    }
    .ant-tag-hidden{
        display: inline-block;
    }
    .appStore_title{
        font-size: 30px;
        text-align: center;
        padding: 10px 0;
    }
    .search{
        width:80%;
        // height: 60px;
        // border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        margin: 10px auto;
        padding-left: 140px;
    }
    .all_app_title{
        height: 30px;
        line-height: 30px;
        position: relative;
        font-size: 20px;
        text-decoration: none;
    }
    .ant-carousel .slick-slide {
        text-align: center;
        height: 360px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden;
    }
      
    .ant-carousel .slick-slide h3 {
        color: #fff;
    }
    .slick-prev, .slick-next{
        background: #ccc !important;
    }
    .slick-prev::before, .slick-next::before {
        content: '>' !important;
        color: red;
        width:20px;
        height: 20px;
        // background: blue;
        display: block;
    }
    .slick-prev, .slick-next:hover {
        background: black;
    }
    .app_items{
        margin-right: 20px;
        margin-top: 10px;
        width: 182px;
        height: 225px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        // border-top: 2px solid green;
        &:hover{
            box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
        }
        img{
            width: 72px;
            // padding: 10px;
            height: 72px;
            display: block;
            margin: 18px auto;
        }
    }
    .app_item_desc{
        white-space: nowrap;
        overflow: hidden;
        color: #767676;
        vertical-align: middle;
        position: relative;
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 12px;
        box-sizing: border-box;
    }
    .the_selected_label{
        width: 80%;
        margin: 0 auto;
        // border: 1px solid #ccc;
        height: 30px;
        border-radius: 5px;
        padding-left: 140px;
    }
    .stats_and_offer{
        display: flex;
        // paddingBottom: 5;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        span{
            display: inline-block;
            text-align: right;
            color: #327e36;
            font-weight: bold;
        }
    }
.installcontent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item{
        width: 222px;
        height: 215px;
        padding: 10px;
        margin:10px;
        line-height: 1.5;
        background-color: #fff;
        border:1px solid #eee;
        cursor: pointer;
        &:hover{
            box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
        }
        img{
            display: block;
            height: 96px;
            width:96px;
            margin: 0 auto;
        }
        .apptitle{
            margin-top: 25px;
            padding:10px;
            background:#f6f6f6;
            font-size: 12px;
            font-weight: 600;
            p:hover{
                color:#3c8dbc;
            }
            div{
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                span{
                    display: block;
                    border:1px solid #ccc;
                    font-size: 14px;
                    padding: 3px 7px;
                    border-radius: 5px;
                    &:hover{
                        background: #ddd;
                        border:1px solid #ccc;
                    }
                }
            }
            .ant-rate li{
                margin-right: 0px;
            }
        }
    }
}
}