.online{
    color:#3c763d;
    b{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #3c763d;
        border-radius: 50%;
        position: relative;
    }
    
}
.offline{
    color:#f39c12;
    b{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #f39c12 ;
        border-radius: 50%;
        position: relative;
    }
}
.virtual_help{
    h2{
        margin: 10px 0;
        font-size: 26px;
        font-weight: 600;
    }
    p{
        line-height: 30px;
        font-size: 16px;
        margin: 5px 0;
        b{
            margin-left: 10px;
        }
    }
}